body{
	background-color: #ffffcc;
	margin:0px;
}

@media screen and (max-width: 280px) {
	.body{
		max-width: 100%
	}
	.head{
		margin-bottom: 0px;
		max-width: 380px;
		max-height: 100px;
		display: inline;
		flex-direction: column;
	}
	.logo{
		max-width: 15%;
		max-height: 100px;
	}
	.det li{
		flex-wrap: wrap;
		justify-content: flex-end;	

	}
	.fixed-size-1,.fixed-size-2,.fixed-size-3{
		max-width: 95%;
	}

	
}
.hero {
    /* Sizing */
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* 

.logo{
  flex: 2;
  width:15%;
  height:15%;
  max-height: 100px;
  max-width: 175px;
} */
/* .heading{
	flex:7;
	font-size: 75px;
	text-align: center;
	margin: 50px 0px 0px;
	font-family: arial;
	color:  #1a5276 ;
} */

.det li{
	flex:1;
	list-style:none;
	display: inline;
	text-decoration: none;
	padding-right: 5px;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.det a{
	text-decoration: none;
}

.column-layout {
  max-width: 1400px;
  background-color: #ffffcc;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-column {
  flex: 2;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
  box-sizing: border-box;;
  padding: 5px;

}

.sidebar-two {
  flex: 1;
  order: 3;
  box-sizing: border-box;;
  padding: 5px;

}

.fixed-size-container {
  max-width: 1450px;
  /* margin: 40px auto 0 auto; */
  background-color: #ffffcc;
  /* padding: 30px 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;

}

.fixed-size {
  /*width: 150px;
  /*height: 100px;*/
  background-color: #1a53ff;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
  background-image:url(../img/responsive-design.png);
}

.Mid-Heading{
	text-align: center;
	vertical-align: middle;
	line-height: 90px;

}

.fixed-size-1 {
  width: 33%;
  height: 100px;
  background-color: #1a53ff;
  color: black;
  font-weight: bold;
/*   line-height: 100px;
text-align: center;
font-weight: bold;
font-size: 60px; */
  /* margin-bottom: 20px; */
  background-image:url(../img/webdev.jpeg);
}

.fixed-size-2{
  width: 33%;
  height: 100px;
  background-color: #1a53ff;
  color: black;
  font-weight: bold;
  /* line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px; */
  /* margin-bottom: 20px; */
  background-image:url(../img/mobile.jpeg);
}

.fixed-size-3{
font-weight: bold;
  width: 33%;
  height: 100px;
  background-color: #1a53ff;
  color: black;
/*   line-height: 100px;
text-align: center;
font-weight: bold;
font-size: 60px;
margin-bottom: 20px; */
  background-image:url(../img/migration.png);
}

/*<Form Css*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #ffffcc;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 320px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.fa {
  margin: auto;
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.Social{
  margin: auto;
  padding-left: 33%;
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

